* {
  font-family: Arial, Helvetica, sans-serif
}

.alt-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.alt-info {
  grid-column: 4 /  10;
}

.alt-title {
  text-align: center;
  font-size: 35px;
}

.alt-text {
  text-align: center;
  font-size: 17px;
  padding-bottom: 25px;
}

/* .alt-links {
  grid-column: 4 / 10;
} */

/* .alt-links * {
  display: flex;
  flex-direction: columns;
} */

.alt-register {
  grid-column: 6 / 8;
  padding-bottom: 20px;
}

.alt-signin {
  display: flex;
  grid-column: 4 / 10;
  padding-left: 100px;
  margin-bottom: 35px;
}


.alt-signin-button {
  color: white;
  background-color: black;
  padding: 8px 8px;
  border-radius: 22px;
  width: 175px;
  margin-left: 25px;
  border: none;
  font-size: 13px;
  outline: none;
} 

.alt-signin-button:hover {
  background: lightgrey;
} 

.alt-register-button {
  color: white;
  background-color:  #067c00;
  padding: 8px 8px;
  border-radius: 22px;
  width: 175px;
  margin-left: 25px;
  border: none;
  font-size: 13px;
  outline: none;
} 

.alt-register-button:hover {
  background: lightgrey;
} 

