.footer-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: white;
  align-items: center;
  /* position: absolute; */
  bottom: 0px; 
  /* max-width: 90%; */
  margin-top: 50px;
}

.project-links {
  grid-column: 2 / 5;
  display: flex;
  flex-direction: row;
  padding: 0px 10px;
}

.github i {
    font-size: 30px;
    padding-right: 20px;
} 

.linkedin i {
    font-size: 30px;
    padding-right: 20px;
}

.copyright {
    display: flex;
    grid-column: 9 / 12;
    justify-self: end;
    align-items: center;
}


