.footer {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* column-gap: 31px; */
    align-items: center;
    margin-top: 10px;
    /* position: fixed; */
    bottom: 0; 
    /* width: 100%;   */
}

.footer > .github {
  grid-column: 1 / 6;
}

.github {
  display: flex;
  flex-direction: row;
  padding: 0px 10px;
}

.github > a {
    /* display: flex; */
    /* align-items: center; */
    text-decoration: none;
}

.github > a:hover {
    color: gray;
}

.github i {
    font-size: 40px;
    padding-right: 20px;
} 

.github > .github-text {
  padding: 13px 0px 0px 5px;
}

.copyright {
    display: flex;
    grid-column: 10 / 13;
    justify-self: end;
    align-items: center;
}


