* {
  font-family: Arial, Helvetica, sans-serif
}

/* REMOVE BORDER-BOTTOM LATER */
.navbar-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  min-height: 65px;
  padding: 0 38px;
  background-color: white;
  width: 90%;
  opacity: 0.9;
  /* border-bottom: 1px solid black;  */
}

.navbar__container > * {
    display: flex;
    align-items: center;
}

.navbar-logo {
  grid-column: 2 / 3;
}

.navbar-logo i {
  font-size: 60px;
}

.navbar-title {
  grid-column: 3 / 4;
  text-decoration: none;
}

.navbar-links {
  grid-column: 8 / 11;
}
