.song-card-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

/* .song-card-container * {
  padding: 5px;
} */

.song-info-container {
  width: 300px;
  overflow: initial;
}

.song-info-container p.song-title {
  font-size: 16px;
}

.song-info-container p.song-album {
  font-size: 12px;
  opacity: .5;
}

img.song-image {
  height: 300px;
  width: inherit;
}