.song-collection-container {
  display: flex;
  flex-direction: column;
}

.song-card-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.song-card-container {
  padding: 5px;
  /* border: 1px solid black; */
}

.song-image-container {
  padding: 25px;
}