* {
  font-family: Arial, Helvetica, sans-serif
}

.trending-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, 1fr);
} 

.trending-container * {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trending-title {
  grid-column: 4 / 10;
  grid-row: 1 / 2;
  padding-top: 100px;
  text-align: center;
}

.trending-title > p {
  font-size: 30px;
}

.song-row-container {
  grid-column: 2 / 12;
  grid-row:  2 / 5;
}

.trending-signin {
  grid-column: 6 / 8;
  grid-row: 6 / 7;
  padding-top: 50px;
}

.signin-button {
  color: white;
  background-color:  #067c00;
  padding: 8px 8px;
  border-radius: 22px;
  width: 175px;
  margin-left: 25px;
  border: none;
  font-size: 13px;
  outline: none;
  margin-bottom: 50px;
} 

.signin-button:hover {
  background: lightgrey;
}

.song-collection-container {
  display: flex;
  flex-direction: column;
}

.song-card-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.song-card-container {
  padding: 5px;
  /* border: 1px solid black; */
}

.song-image-container {
  padding: 25px;
}

